## Deliverable 2. Create a Customer Travel Destinations Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [21]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abu Dhabi,AE,24.47,54.37,95.00,71,98,4.70,overcast clouds
1,1,Lerici,IT,44.08,9.91,78.01,59,0,1.99,clear sky
2,2,Castro,BR,-24.79,-50.01,41.47,90,99,5.23,overcast clouds
3,3,Woodward,US,36.43,-99.39,86.00,35,40,11.41,scattered clouds
4,4,Tuy Hoa,VN,13.08,109.30,76.03,84,13,6.02,few clouds

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
hotel_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  (city_data_df["Max Temp"] >= min_temp)]

In [24]:
# 4a. Determine if there are any empty rows.
hotel_temp_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
hotel_df=hotel_temp_df.dropna()
hotel_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [26]:
hotel_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
18,18,Ponta Do Sol,PT,32.67,-17.10,73.99,88,75,8.05,light intensity drizzle
22,22,Shieli,KZ,44.17,66.75,65.57,31,58,3.96,broken clouds
23,23,Bambanglipuro,ID,-7.95,110.28,73.35,90,100,4.38,overcast clouds
25,25,Bambous Virieux,MU,-20.34,57.76,70.00,73,40,6.93,scattered clouds
27,27,Pisco,PE,-13.70,-76.22,64.00,82,75,8.05,mist
...,...,...,...,...,...,...,...,...,...,...
539,539,Roi Et,TH,16.06,103.65,74.97,92,100,7.11,overcast clouds
541,541,Caravelas,BR,-17.71,-39.25,72.19,88,94,14.20,light rain
543,543,Ostrow Mazowiecka,PL,52.80,21.90,66.99,45,81,6.78,broken clouds
557,557,Sudak,UA,44.85,34.97,69.60,72,0,8.84,clear sky
558,558,Aksha,RU,50.28,113.29,60.28,84,100,1.70,overcast clouds

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp Current Description    Lat     Lng Hotel Name
1      Khasan      RU     65.66       moderate rain  42.43  130.64
3   Hay River      CA     66.20       broken clouds  60.82 -115.80
4      Torbay      CA     71.01       broken clouds  47.67  -52.73
5       Romny      UA     71.47       broken clouds  50.75   33.47
10    Sawtell      AU     60.80           clear sky -30.38  153.10
13    Jiuquan      CN     63.14           clear sky  39.74   98.52
28   Thompson      CA     71.60       broken clouds  55.74  -97.86
36  Jamestown      US     70.00          few clouds  42.10  -79.24
37  Tocopilla      CL     62.65          few clouds -22.09  -70.20
41  Katherine      AU     69.80    scattered clouds -14.47  132.27

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e.  Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        hotel_df.loc[index, "Hotel Name"]=np.nan  
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Khasan,RU,65.66,moderate rain,42.43,130.64,Krako MotorkÃ¡r
3,Hay River,CA,66.20,broken clouds,60.82,-115.80,Ptarmigan Inn Hotels
4,Torbay,CA,71.01,broken clouds,47.67,-52.73,Gallows Cove
5,Romny,UA,71.47,broken clouds,50.75,33.47,Floriana
10,Sawtell,AU,60.80,clear sky,-30.38,153.10,Boambee Waters Caravan Park
...,...,...,...,...,...,...,...
530,Nesebar,BG,72.00,thunderstorm,42.78,27.73,Bay View Villas - Luxury Villas & Apartments
535,Karratha,AU,67.50,clear sky,-20.74,116.85,ibis Styles Karratha
537,Broome,US,72.00,broken clouds,42.25,-75.83,Chenango Valley State Park
540,Bridlington,GB,66.20,mist,54.08,-0.19,Expanse Bridlington Seafront Hotel
541,Inhambane,MZ,66.87,overcast clouds,-23.86,35.38,Oceano

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                    0
Country                 1
Max Temp                0
Current Description     0
Lat                     0
Lng                     0
Hotel Name             16
dtype: int64

In [31]:
clean_hotel_df=hotel_df.dropna()

In [32]:
clean_hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [33]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Khasan,RU,65.66,moderate rain,42.43,130.64,Krako MotorkÃ¡r
3,Hay River,CA,66.20,broken clouds,60.82,-115.80,Ptarmigan Inn Hotels
4,Torbay,CA,71.01,broken clouds,47.67,-52.73,Gallows Cove
5,Romny,UA,71.47,broken clouds,50.75,33.47,Floriana
10,Sawtell,AU,60.80,clear sky,-30.38,153.10,Boambee Waters Caravan Park
...,...,...,...,...,...,...,...
530,Nesebar,BG,72.00,thunderstorm,42.78,27.73,Bay View Villas - Luxury Villas & Apartments
535,Karratha,AU,67.50,clear sky,-20.74,116.85,ibis Styles Karratha
537,Broome,US,72.00,broken clouds,42.25,-75.83,Chenango Valley State Park
540,Bridlington,GB,66.20,mist,54.08,-0.19,Expanse Bridlington Seafront Hotel
541,Inhambane,MZ,66.87,overcast clouds,-23.86,35.38,Oceano

In [34]:
# 8a. Create the output File (CSV)
output_data_file="../vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
#Add a heatmap of temperature for the vacation spots and marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))